.article-inputed-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(44, 43, 43, 0.8); */
    padding: 20px;
    overflow-y: auto;
  }
  