*,
p {
  padding: 0;
  margin: 0;
}

body {
  background-color: #212529 !important;
}

/* ------------------- Banner --------------------- */
.banner {
  width: 100%;
}
.banner .col-md-6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.banner-heading b {
  font-weight: 700;
}

/* ------------- news letter */
.news-letter {
  min-height: 200px;
  width: 100%;
}

.auth_form_wrapper {
  min-height: 85vh;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 3px;
  margin:0 2px;
}

::-webkit-scrollbar-track {
  background: #747474;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}
